<h1>Step 2: Select your config and options</h1>
Config: @if(options) {
<select [formControl]="configControl">
  <option [value]="0">Choose...</option>
  @for(config of options.configs; track config.id) {
  <option [value]="config.id">{{ config.description }}</option>
  }
</select>
} @if((service.currentCarConfig$ | async)) {

<div>
  Range: {{ (service.currentCarConfig$ | async)?.range }} miles - Max speed:
  {{ (service.currentCarConfig$ | async)!.speed }} mph - Cost:
  {{ (service.currentCarConfig$ | async)!.price | currency : "USD" }}
</div>
}

<div>
  @if(options?.towHitch) { Tow hitch?
  <input
    type="checkbox"
    [checked]="service.currentCarHitchYokeSubject.value.towHitch"
    [formControl]="hitchControl"
  />
  }

  <br />
  @if(options?.yoke) { Yoke steering wheel?
  <input
    type="checkbox"
    [checked]="service.currentCarHitchYokeSubject.value.yoke"
    [formControl]="yokeControl"
  />
  }
</div>
