<h1>Step 3: Summary</h1>
<!-- <h3>Your {{ currentCarModel?.description }}</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <b>{{ currentCarConfig?.description }}</b>
      </div>
      <div>
        Range: {{ currentCarConfig?.range }} miles - Max speed:
        {{ currentCarConfig?.speed }}
      </div>
    </div>
    <div class="col-sm-6">{{ currentCarConfig?.price | currency : "USD" }}</div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>{{ service.currentCarColor()?.description }}</b>
    </div>
    <div class="col-sm-6">$6,500.00</div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>Yoke Steering Wheel</b>
    </div>
    @if(service.currentCarOptions()?.yoke &&
    service.currentCarHitchYokeOptions().yoke) {
    <div class="col-sm-6">$1,000.00</div>
    }
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>Tow Hitch Package</b>
    </div>
    @if(service.currentCarOptions()?.towHitch
    &&service.currentCarHitchYokeOptions().towHitch) {
    <div class="col-sm-6">$1,000.00</div>
    }
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-6">
      <b>TOTAL COST</b>
    </div>
    <div class="col-sm-6">
      {{ service.currentCarTotalCost() | currency : "USD" }}
    </div>
  </div>
  <hr />
</div> -->
