<h1>Step 3: Summary</h1>
<h3>Your {{ (currentCarModel$ | async)?.description }}</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div>
        <b>{{ (currentCarConfig$ | async)?.description }}</b>
      </div>
      <div>
        Range: {{ (currentCarConfig$ | async)?.range }} miles - Max speed:
        {{ (currentCarConfig$ | async)?.speed }}
      </div>
    </div>
    <div class="col-sm-6">
      {{ (currentCarConfig$ | async)?.price | currency : "USD" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>{{ (currentCarColor$ | async)?.description }}</b>
    </div>
    <div class="col-sm-6">
      {{ (currentCarColor$ | async)?.price | currency : "USD" }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>Yoke Steering Wheel</b>
    </div>
    @if((currentModelOptions$ | async)?.yoke && (currentCarHitchYoke$ |
    async)?.yoke) {
    <div class="col-sm-6">$1,000.00</div>
    }
  </div>

  <div class="row">
    <div class="col-sm-6">
      <b>Tow Hitch Package</b>
    </div>
    @if((currentModelOptions$ | async)?.towHitch &&(currentCarHitchYoke$ |
    async)?.towHitch) {
    <div class="col-sm-6">$1,000.00</div>
    }
  </div>
  <hr />

  <div class="row">
    <div class="col-sm-6">
      <b>TOTAL COST</b>
    </div>
    <div class="col-sm-6">
      {{ currentCarTotalCost$ | async | currency : "USD" }}
    </div>
  </div>
  <hr />
</div>
