<h1>Step 1: Choose your Model and color</h1>
Model:
<select [formControl]="carModel">
  <option [value]="0">Choose...</option>
  @for(model of allModels; track model.code;) {
  <option>{{ model.description }}</option>
  }
</select>

Color:
<select [formControl]="carColor">
  @if(configuratorService.currentCar()) { @for(color of
  configuratorService.currentCar()!.colors; track color.code) {
  <option [value]="color.code">{{ color.description }}</option>
  } }
</select>
<div>
  <img src="{{ configuratorService.currentCarImage() }}" />
</div>
