<h1>Step 1: Choose your Model and color</h1>
Model:
<select [formControl]="carModel">
  <option [value]="0">Choose...</option>
  @for(model of allModels$ | async; track model.code;) {
  <option [value]="model.description">{{ model.description }}</option>
  }
</select>

Color:
<pre>{{
  configuratorService.currentCarColorSubject.getValue()?.description
}}</pre>
<select [formControl]="carColor">
  <ng-container *ngIf="configuratorService.currentCar$ | async as car">
    @for(color of car.colors; track color.code) {
    <option [value]="color.code">{{ color.description }}</option>
    }
  </ng-container>
</select>
<div>
  <img src="{{ configuratorService.currentCarImageSubject | async }}" />
</div>
